.top-navbar {
	background-color: #343a40;
	overflow: hidden;
}

.navbar-menu-items {
	list-style-type: none;
	display: inline-flex;
	color: #FFFFFF;
}

.inner-nav{
	padding-top:10px;
	display:inline-block;
	width:100%;
}

.nav-item a {
	text-align: center;
	padding: 4px 6px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 17px;
}

.nav-item a:hover {
	background-color: #0055b1;
	color: #d3d3d3;
	transition: 0.3s;
}

.nav-item a.active {
  color: black;
}

.nav-item-left {
  float: left;
}

.nav-item-right {
  float: right;
}

.profile-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
	width: 70%;
}

.form1 {
	width: 30%;
}

.user-resume {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
}

html, body {
	height: 100%;
/* 	color: rgb(218, 215, 210);
	background-color: rgb(24, 26, 27); */
	position: relative;
}

.footer {
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background:rgb(24, 26, 27);
}

/* Not used yet */
.main-container {
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px; /* height of your footer */
	align: center;
}

/* May not need any of these*/
img{
	height: auto;
	width: 100px;;
}

.bigImg{
	height: auto;
	width: 300px;;
}

.table {
	font-family: "Trebuchet MS", Arial, Helvettica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table td, .table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}

.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #343a40;
	color: white;
}

* {
	font-family: helvetica;
}

.myform {
	font-size: 1.5em;
	background-color: #9eccfe;
	border-radius: 5px;
	margin: 20px;
	padding: 10px;
	text-allign: center;
	width: 50%;
}

.myform>input {
	font-size: 1.5em;
	margin: 10px;
	padding: 5px;
	border-radius: 4px;
}

.loginForm{
	display: inline-block;
}

.loginForm button{
	display: inline;
    vertical-align: middle;
}

.loginFontColor{
	color: white;
}

.displayName{
	color: white;
	font-size: 1.5em;
}

.button-container form, .button-container form div {
	display: inline;
}

.button-container button {
	display: inline;
	vertical-align: middle;
}

